@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /*background-color: rgb(220, 246, 150);*/
}

nav img {
    width: 150px;
    height: 150px;
    margin-left: 67px;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    list-style: none;
    align-items: center;
    margin-right: 67px;
  }
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
background-color: grey;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: red;
  text-decoration: underline;
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
}
.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.drop-contents {
display: none;
position: absolute;
background-color: rgb(116, 140, 219);
min-width: 50px;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
z-index: 1;
right: 8%;
}
.drop-contents a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: rgb(186, 41, 41);
}
.drop-contents a:hover {
  background-color: rgb(0, 0, 0);
  color: greenyellow;
}
.dropdown:hover .drop-contents {
  display: block;
}
.dropdown:hover .drop-contents {
  display: block;
}
.dropdown:hover .dropbtn {
  color: red;
  text-decoration: underline;
}
main {
  margin-top: 15rem;
  padding-left: 1rem;
}



